body {
  background-color: #2d2d2d;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  background-color: #171717;
  border: none;
  width: 100px;
  height: 45px;
  font-size: 17px;
  border-radius: 12px;
  color: rgb(222, 222, 222);
  cursor: pointer;
}
